* {
  /* CSS RESET */
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Quicksand';
  background-color: azure
}

div h1 {
  margin-bottom: 10px;
  justify-content: center;
}

.container-header:hover {
  transition: all 0.2s ease-in-out;
  box-shadow: 4px 4px grey;
}

.container-header {
  border: double black 2px;
  background-color: white;
  margin: 20px;
  padding: 10px;
  text-align: center;
}

nav {
  margin-top: 10px;
}

nav ul {
  list-style-type: none;
}

nav li {
  display: inline;
  margin-right: 5px;
}

nav a {
  text-decoration: none;
  color: black;
  transition: all 0.3s ease-in-out;
}

nav a:hover {
  padding: 2px;
  text-decoration: bold;
  border: none;
  font-weight: bold;
  -webkit-box-shadow: 5px 7px 17px -5px rgba(87, 255, 230, 1);
  -moz-box-shadow: 5px 7px 17px -5px rgba(87, 255, 230, 1);
  box-shadow: 5px 7px 17px -5px rgba(87, 255, 230, 1);

  border-radius: 5px;
}

article {
  background-color: white;
}

.container-content {
  margin: 20px;
  padding: 10px;
}

div h2 {
  color: rgb(45, 011, 123);
  margin-bottom: 10px;
}

.card {
  padding: 20px;
  margin-bottom: 25px;
  border: 0px solid #000000;
  border: 0px solid #000000;
  transition: all 0.3s ease-in-out;
}

.card:hover {
  border-radius: 24px 24px 24px 24px;
  -moz-border-radius: 24px 24px 24px 24px;
  -webkit-border-radius: 24px 24px 24px 24px;
  border: 0px solid #000000;
  -webkit-box-shadow: 5px 7px 17px -5px rgba(87, 255, 230, 1);
  -moz-box-shadow: 5px 7px 17px -5px rgba(87, 255, 230, 1);
  box-shadow: 5px 7px 17px -5px rgba(87, 255, 230, 1);
}

.card img {
  width: 5%;
  height: auto;
}

.instagram-container a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
}

.iconig {
  margin-right: 15px;
  width: 15px;
  height: 15px;
}

.facebook-container a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
}

.iconfb {
  margin-right: 15px;
  width: 15px;
  height: 15px;
}

.gmail-container a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
}

.icongml {
  margin-right: 20px;
  height: 24px;
}
